<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report of {{wallet}} {{start_date}} - {{end_date}}</title>
</head>

<body>
    <div>
        <b>Report of {{wallet}} {{start_date}} - {{end_date}}</b>
        <table>
            <tr>
                <td>datetime</td><td>from</td><td>to</td><td>amount</td><td>balance</td>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row.dt}}</td><td>{{row.w_from}}</td><td>{{row.w_to}}</td><td>{{row.amount}}</td><td>{{row.balance}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
    <form id="form_download_xml" method="post">
        {% csrf_token %}
        <input type="hidden" name="wallet" value="{{wallet}}"/>
        <input type="hidden" name="start_date" value="{{start_date}}"/>
        <input type="hidden" name="end_date" value="{{end_date}}"/>
        <input type="hidden" name="data_format" value="xml"/>
    </form>
    <form id="form_download_csv" method="post">
        {% csrf_token %}
        <input type="hidden" name="wallet" value="{{wallet}}"/>
        <input type="hidden" name="start_date" value="{{start_date}}"/>
        <input type="hidden" name="end_date" value="{{end_date}}"/>
        <input type="hidden" name="data_format" value="csv"/>
    </form>
        <table>
            <tr>
                <td>Export to CSV</td>
                <td><a target="_blank" href="javascript:;" onclick="document.getElementById('form_download_csv').submit();">download</a></td>
                <td>Export to XML</td>
                <td><a target="_blank" href="javascript:;" onclick="document.getElementById('form_download_xml').submit();">download</a></td>
            </tr>
        </table>
    </div>
</body>
</html>
